:root {
    --color-base: #ffffff;
    --color-1: #b7bfc7;
    --color-2: #abc5de;
}

body {
    background: -webkit-linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
    background: linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*/////////////////////////////GRAFICA///////////////////////////////////*/
        :root 
        {
            --color-base: #8bb3e065;
            --color-1: #6185e977;
            --color-2: #8297f5a1;
        }

        body 
        {
            background: -webkit-linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
            background: linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
            background-size: 400% 400%;
            animation: gradient 20s ease infinite;
            margin: 0; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 /*BOTON SAGA X NIVELES DE PODER */
        { 
            
            margin-top: 100px; /* Aumentar el margen superior para bajar el título */
            font-size: 45px; /* Tamaño del texto del título */
            color: #272727f5; /* Color del texto del título */
            text-align: center; /* Centrar el texto */
            text-shadow: 2px 2px 4px rgba(71, 71, 71, 0.6); /* Sombra de texto */
            background: linear-gradient(to right, #1ac6f1ee, #730ee783); /* Degradado */
            padding: 10px; 
            border-radius: 10px; /* Bordes redondeados */
            transition: transform 0.3s; 
            position: relative; /* Para el efecto de aura */
            overflow: hidden; /* Para ocultar el aura fuera del botón */
            
        }

        h1:hover 
        {
            transform: scale(1.05); /* Efecto de escalado al pasar el ratón */
        }

        .chart 
        { /* Gráfica */
            width: 1600px; 
            height: 500vh; 
            min-height: 200px; 
            margin-top: 20px; 
        
        }

        #chart-container 
        { /* Contenedor */
            display: flex;
            justify-content: center; /* Centra el contenido horizontalmente */
            align-items: center; /* Centra el contenido verticalmente */
            height: 100%; 
            width: 100%; 
            margin-left:100px ;
            margin-right: 0px; 
        }

        /* Responsive para diferentes tamaños de pantalla */

        /* Muy Pequeño (menos de 480px) */
        @media (max-width: 479px) 
        {
        .chart 
        {
            height: 30em; 
            width: 100%;
            margin-top: 1em; 
            margin-bottom: 7em; 
            
        }
        #chart-container 
        {
            height: 100%; 
            width: 100%;
           margin-top: 7em; 
            margin-bottom: 7em; 
        }
        }

        /* Pequeño (de 480px a 768px) */
        @media (min-width: 480px) and (max-width: 768px) 
        {
        .chart 
        {
            width: 47em; /* Ajustar el ancho */
            height: 35em; /* Altura fija */
            margin-top: -30px; 
            margin-bottom: 7em;
         }
         #chart-container 
        {
            width: 47em; /* Ajustar el ancho */
            height: 34em; /* Altura fija */
            margin-top: 13em; 
            margin-bottom: 13em;
        }
        }

        /* Mediano (de 769px a 1024px) */
        @media (min-width: 769px) and (max-width: 1024px) 
        {
        .chart 
        {
            width: 55em; /* Ajustar el ancho */
            height: 37em; /* Altura fija */
            margin-top: 26em; 
            margin-bottom: 13em;
            
        }
        #chart-container 
        {
            width: 55em; /* Ajustar el ancho */
            height: 37em; /* Altura fija */
            margin-top: 2em; 
            margin-bottom: 13em;
            
        }
        }

        /* Grande (de 1024px a 1440px) */
        @media (min-width: 1024px) and (max-width: 1440px) 
        {
        .chart 
        {
            width: 75em; /* Ajustar el ancho */
            height: 42em; /* Altura fija */
            margin-top: 26em; 
            margin-bottom: 15em;
        }
        #chart-container 
        {
            width: 75em; /* Ajustar el ancho */
            height: 42em; /* Altura fija */
            margin-top: 1em; 
            margin-bottom: 15em;
        }
        }

        /* Extra Grande (más de 1440px) */
        @media (min-width: 1441px) 
        {
        .chart 
        {
            width: 90em; /* Ajustar el ancho */
            height: 45em; /* Altura fija */
            margin-top: 7em; 
            margin-bottom: 10em;
        }
        #chart-container 
        {
            width: 90em; /* Ajustar el ancho */
            height: 45em; /* Altura fija */
            margin-top: 7em; 
            margin-bottom: 10em;
        }
        }
 

        
        
